* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navigation__items-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vw; }
  @media screen and (max-width: 75em) {
    .navigation__items-logo {
      font-size: 4vw; } }
  @media screen and (max-width: 37.5em) {
    .navigation__items-logo {
      font-size: 6vw; } }
  @media screen and (max-width: 30em) {
    .navigation__items-logo {
      font-size: 7vw; } }
  @media screen and (max-width: 18.75em) {
    .navigation__items-logo {
      font-size: 8vw; } }

.navigation__items-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }

.navigation__buttons a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.navigation__buttons a:first-child,
.navigation__buttons a:last-of-type {
  font-size: 1vw; }
  @media screen and (max-width: 56.25em) {
    .navigation__buttons a:first-child,
    .navigation__buttons a:last-of-type {
      font-size: 1.5vw; } }

.navigation__mobile {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3vw; }
  @media screen and (max-width: 37.5em) {
    .navigation__mobile {
      font-size: 5vw; } }
  @media screen and (max-width: 30em) {
    .navigation__mobile {
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .navigation__mobile {
      font-size: 7vw; } }
  .navigation__mobile-menu-items-links a {
    font-size: 2vw !important; }
    @media screen and (max-width: 37.5em) {
      .navigation__mobile-menu-items-links a {
        font-size: 3vw !important; } }
    @media screen and (max-width: 30em) {
      .navigation__mobile-menu-items-links a {
        font-size: 5vw !important; } }
    @media screen and (max-width: 18.75em) {
      .navigation__mobile-menu-items-links a {
        font-size: 6vw !important; } }

.header__content-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .header__content-text span {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text span {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text span {
      font-size: 4.5vw; } }

.header__content-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vw; }
  @media screen and (max-width: 56.25em) {
    .header__content-text h1 {
      font-size: 5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text h1 {
      font-size: 8vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text h1 {
      font-size: 10vw; } }

.header__content-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .header__content-text p {
      font-size: 1.8vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text p {
      font-size: 2.8vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text p {
      font-size: 3.8vw; } }

.header__content-text-btns a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .header__content-text-btns a {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text-btns a {
      font-size: 3vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text-btns a {
      font-size: 3.5vw; } }

.popular__courses-content span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.7vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.9vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.3vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.5vw; } }

.popular__courses-content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.5vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.9vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 4.5vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 7vw; } }

.popular__courses-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.4vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.7vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.8vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.1vw; } }

.popular__courses-course {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 8rem; }
  .popular__courses-course-card-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2vw; }
    @media screen and (max-width: 75em) {
      .popular__courses-course-card-heading {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.7vw; } }
    @media screen and (max-width: 56.25em) {
      .popular__courses-course-card-heading {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 2vw; } }
    @media screen and (max-width: 37.5em) {
      .popular__courses-course-card-heading {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 3vw; } }
    @media screen and (max-width: 30em) {
      .popular__courses-course-card-heading {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 4.5vw; } }
    @media screen and (max-width: 18.75em) {
      .popular__courses-course-card-heading {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 6vw; } }
  .popular__courses-course-card-content {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1vw; }
    @media screen and (max-width: 75em) {
      .popular__courses-course-card-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.3vw; } }
    @media screen and (max-width: 56.25em) {
      .popular__courses-course-card-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.5vw; } }
    @media screen and (max-width: 37.5em) {
      .popular__courses-course-card-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 2.3vw; } }
    @media screen and (max-width: 30em) {
      .popular__courses-course-card-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 3.3vw; } }
    @media screen and (max-width: 18.75em) {
      .popular__courses-course-card-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 4.3vw; } }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.u-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-text-center {
  text-align: center; }

.u-primary-btn, .u-transparent-btn {
  color: #fff;
  text-decoration: none;
  border-radius: 6px; }

.u-primary-btn {
  background-color: #96bb7c; }

.u-transparent-btn {
  background-color: transparent;
  border: 1px solid #96bb7c;
  color: #96bb7c; }

.u-active {
  color: #96bb7c !important; }

.u-bg-sky-dark {
  background-color: #0072f9; }

.u-hidden {
  display: none; }

.navigation {
  display: flex;
  height: 15vh; }
  .navigation__logo-part {
    display: flex;
    flex-basis: 60%; }
    @media screen and (max-width: 37.5em) {
      .navigation__logo-part {
        flex-basis: 90%; } }
  .navigation__color-box {
    background-color: #eff8ed;
    height: 100%;
    width: 10vh;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 37.5em) {
      .navigation__color-box {
        width: 5vh; } }
    @media screen and (max-width: 30em) {
      .navigation__color-box {
        display: none; } }
  .navigation__items {
    display: flex;
    padding: 1rem 5% 0; }
    @media screen and (max-width: 75em) {
      .navigation__items {
        align-items: center;
        padding: 0 5%; } }
    .navigation__items-logo {
      margin-right: 3rem; }
      @media screen and (max-width: 75em) {
        .navigation__items-logo {
          margin-right: 0; } }
    .navigation__items-links {
      margin-top: 0.3rem; }
      @media screen and (max-width: 75em) {
        .navigation__items-links {
          display: none; } }
      .navigation__items-links a {
        text-decoration: none;
        color: #737373;
        display: inline-block;
        margin-right: 1rem;
        transition: all 0.5s; }
        .navigation__items-links a:hover {
          color: #96bb7c; }
  .navigation__buttons {
    flex-basis: 40%;
    background-color: #eff8ed;
    padding-top: 1rem;
    padding: 1rem 5% 0; }
    .navigation__buttons > a:first-child {
      color: #96bb7c;
      text-decoration: none;
      margin-right: 2rem; }
    .navigation__buttons > a:last-of-type {
      display: inline-block;
      padding: 0.9rem 1.5rem; }
    @media screen and (max-width: 75em) {
      .navigation__buttons > a {
        display: none !important; } }
    @media screen and (max-width: 75em) {
      .navigation__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0; } }
  .navigation__mobile {
    transition: all 3s; }
    @media screen and (max-width: 75em) {
      .navigation__mobile {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .navigation__mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #96bb7c;
      height: 0;
      width: 0;
      z-index: 2000;
      opacity: 0; }
      .navigation__mobile-menu-items {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3000;
        transition: all 1s; }
        .navigation__mobile-menu-items-links {
          width: 100%;
          height: 100%;
          text-align: center;
          transition: all 1s; }
          .navigation__mobile-menu-items-links a {
            font-size: 3vw;
            color: #fff;
            display: block;
            z-index: 5000;
            padding: 1rem 3rem;
            text-decoration: none;
            transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1); }
            .navigation__mobile-menu-items-links a:hover {
              background-color: #fff;
              color: #96bb7c; }
  .navigation__checkbox:checked ~ .navigation__icon .navigation__humburger {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__icon .navigation__close {
    color: #fff;
    display: block;
    position: relative;
    z-index: 5000; }
  .navigation__checkbox:checked ~ .navigation__mobile-menu {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transition: all 1s; }

.header__content {
  flex-basis: 60%; }
  @media screen and (max-width: 75em) {
    .header__content {
      flex-basis: 100%;
      margin-top: 5rem; } }
  .header__content-text {
    flex-grow: 1;
    padding-left: 10%; }
    .header__content-text span {
      color: #96bb7c; }
    .header__content-text h1 {
      margin: 2rem 0;
      color: #252b42;
      line-height: 4rem; }
      @media screen and (max-width: 37.5em) {
        .header__content-text h1 {
          margin: 1rem 0;
          line-height: 3rem; } }
    .header__content-text p {
      margin-bottom: 3rem;
      color: #737373;
      line-height: 1.5rem; }
    .header__content-text-btns a:first-child {
      padding: 0.8rem 2.5rem;
      margin-right: 0.5rem; }
      @media screen and (max-width: 18.75em) {
        .header__content-text-btns a:first-child {
          margin-bottom: 1rem;
          margin-right: 0; } }
    .header__content-text-btns a:last-child {
      padding: 0.8rem 2.5rem;
      transition: all 0.7s; }
      .header__content-text-btns a:last-child:hover {
        background-color: #96bb7c;
        color: #fff; }
    @media screen and (max-width: 18.75em) {
      .header__content-text-btns {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .header__content-icon {
    height: 8vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: -2.5rem; }
    .header__content-icon img {
      width: 40%; }
    @media screen and (max-width: 75em) {
      .header__content-icon {
        display: none; } }

.header__image {
  flex-basis: 40%;
  position: relative; }
  @media screen and (max-width: 75em) {
    .header__image {
      flex-basis: 100%;
      margin-top: 5rem; } }
  .header__image-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #eff8ed;
    z-index: -1; }
    .header__image-circle div {
      width: 70%;
      height: 75%;
      background-color: #aaead0;
      border-radius: 50%;
      margin-top: -2rem;
      margin-right: 0.8rem; }
      @media screen and (max-width: 56.25em) {
        .header__image-circle div {
          width: 55vw;
          height: 80%; } }
  .header__image-img {
    height: 100%;
    z-index: 1000; }
    @media screen and (max-width: 56.25em) {
      .header__image-img {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .header__image-img img {
      height: 100%; }
      @media screen and (max-width: 56.25em) {
        .header__image-img img {
          width: 55vw; } }
  .header__image-chart {
    position: absolute;
    top: 3.4rem;
    left: -1rem;
    width: 11vw; }
    @media screen and (max-width: 56.25em) {
      .header__image-chart {
        width: 20vw; } }
    @media screen and (max-width: 37.5em) {
      .header__image-chart {
        width: 25vw;
        top: 2rem; } }
    @media screen and (max-width: 18.75em) {
      .header__image-chart {
        display: none; } }
  .header__image-scores {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 16.2vw;
    height: 25vh; }
    @media screen and (max-width: 56.25em) {
      .header__image-scores {
        width: 30vw;
        height: 35vh;
        left: 19%; } }
    @media screen and (max-width: 37.5em) {
      .header__image-scores {
        display: none; } }
  .header__image-statistics {
    position: absolute;
    bottom: 4rem;
    right: 20%;
    width: 14vw;
    height: 28vh; }
    @media screen and (max-width: 56.25em) {
      .header__image-statistics {
        width: 20vw;
        height: 30vh;
        right: 29%;
        bottom: 6rem; } }
    @media screen and (max-width: 56.25em) {
      .header__image-statistics {
        height: 25vh;
        width: 25vw;
        bottom: 3rem;
        right: 25%; } }
    @media screen and (max-width: 37.5em) {
      .header__image-statistics {
        display: none; } }
    @media screen and (max-width: 18.75em) {
      .header__image-statistics {
        height: 10vh;
        width: 20vw;
        bottom: 2rem;
        right: 30%; } }
  .header__image-bag {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 7vh;
    height: 7vh; }
    @media screen and (max-width: 56.25em) {
      .header__image-bag {
        right: 25%; } }
    @media screen and (max-width: 37.5em) {
      .header__image-bag {
        right: 20%; } }
    @media screen and (max-width: 18.75em) {
      .header__image-bag {
        width: 6vh;
        height: 6vh;
        right: 10%; } }
  .header__image-gridIcon {
    position: absolute;
    bottom: 1rem;
    left: 44%;
    background-color: #0072f9;
    border-radius: 8px;
    height: 7vh;
    width: 7vh; }
    .header__image-gridIcon img {
      width: 60%; }
    @media screen and (max-width: 56.25em) {
      .header__image-gridIcon {
        left: 52%;
        bottom: 1.5rem; } }
    @media screen and (max-width: 37.5em) {
      .header__image-gridIcon {
        bottom: 0.5rem;
        left: 50%; } }
    @media screen and (max-width: 18.75em) {
      .header__image-gridIcon {
        height: 5vh;
        width: 5vh;
        bottom: 0.1rem;
        left: 20%; } }

.popular__courses-content {
  margin-bottom: 1.5rem; }
  .popular__courses-content span {
    color: #96bb7c; }
  .popular__courses-content h2 {
    color: #252b42;
    margin: 1rem 0; }
  .popular__courses-content p {
    color: #737373; }

.popular__courses-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem; }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course {
      justify-content: center; } }
  .popular__courses-course-card {
    width: 218px;
    height: fit-content;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 2rem; }
    .popular__courses-course-card-img {
      position: relative; }
      .popular__courses-course-card-img img:last-child {
        width: 10vh;
        height: 10vh;
        position: absolute;
        top: 0.5rem;
        left: 0.3rem; }
        @media screen and (max-width: 56.25em) {
          .popular__courses-course-card-img img:last-child {
            width: 4vh;
            height: 4vh;
            left: 0.4rem; } }
        @media screen and (max-width: 37.5em) {
          .popular__courses-course-card-img img:last-child {
            width: 6vh;
            height: 6vh;
            left: 0.4rem; } }
    .popular__courses-course-card-heading {
      margin: 1.5rem 0; }
    .popular__courses-course-card-hr {
      margin-bottom: 1.5rem;
      border: 0;
      outline: 0;
      height: 0.5vh;
      width: 10vh;
      background-color: #e74040; }
    .popular__courses-course-card-content {
      color: #737373; }

header {
  display: flex;
  height: calc(100vh - 15vh); }
  @media screen and (max-width: 75em) {
    header {
      flex-direction: column;
      height: fit-content; } }

.popular__courses {
  padding: 8rem 10%; }
