* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.navigation__items-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vw; }
  @media screen and (max-width: 75em) {
    .navigation__items-logo {
      font-size: 4vw; } }
  @media screen and (max-width: 37.5em) {
    .navigation__items-logo {
      font-size: 6vw; } }
  @media screen and (max-width: 30em) {
    .navigation__items-logo {
      font-size: 7vw; } }
  @media screen and (max-width: 18.75em) {
    .navigation__items-logo {
      font-size: 8vw; } }

.navigation__items-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }

.navigation__buttons a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.navigation__buttons a:first-child,
.navigation__buttons a:last-of-type {
  font-size: 1vw; }
  @media screen and (max-width: 56.25em) {
    .navigation__buttons a:first-child,
    .navigation__buttons a:last-of-type {
      font-size: 1.5vw; } }

.navigation__mobile {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3vw; }
  @media screen and (max-width: 37.5em) {
    .navigation__mobile {
      font-size: 5vw; } }
  @media screen and (max-width: 30em) {
    .navigation__mobile {
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .navigation__mobile {
      font-size: 7vw; } }
  .navigation__mobile-menu-items-links a {
    font-size: 2vw !important; }
    @media screen and (max-width: 37.5em) {
      .navigation__mobile-menu-items-links a {
        font-size: 3vw !important; } }
    @media screen and (max-width: 30em) {
      .navigation__mobile-menu-items-links a {
        font-size: 5vw !important; } }
    @media screen and (max-width: 18.75em) {
      .navigation__mobile-menu-items-links a {
        font-size: 6vw !important; } }

.header__content-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .header__content-text span {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text span {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text span {
      font-size: 4.5vw; } }

.header__content-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vw; }
  @media screen and (max-width: 56.25em) {
    .header__content-text h1 {
      font-size: 5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text h1 {
      font-size: 8vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text h1 {
      font-size: 10vw; } }

.header__content-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .header__content-text p {
      font-size: 1.8vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text p {
      font-size: 2.8vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text p {
      font-size: 3.8vw; } }

.header__content-text-btns a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .header__content-text-btns a {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .header__content-text-btns a {
      font-size: 3vw; } }
  @media screen and (max-width: 18.75em) {
    .header__content-text-btns a {
      font-size: 3.5vw; } }

.popular__courses-content span, .pricing__section span, .testimonial__section span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content span, .pricing__section span, .testimonial__section span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.7vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content span, .pricing__section span, .testimonial__section span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.9vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content span, .pricing__section span, .testimonial__section span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content span, .pricing__section span, .testimonial__section span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.3vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content span, .pricing__section span, .testimonial__section span {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.5vw; } }

.popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.5vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.9vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 4.5vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 7vw; } }

.popular__courses-content p, .pricing__section p, .testimonial__section p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-content p, .pricing__section p, .testimonial__section p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.4vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-content p, .pricing__section p, .testimonial__section p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.7vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-content p, .pricing__section p, .testimonial__section p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-content p, .pricing__section p, .testimonial__section p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.8vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-content p, .pricing__section p, .testimonial__section p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.1vw; } }

.popular__courses-course-card-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.7vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 4.5vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 6vw; } }

.popular__courses-course-card-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-content {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.3vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-content {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-content {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2.3vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-content {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 3.3vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-content {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 4.3vw; } }

.popular__courses-course-card-one-content-rating span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content-rating span {
      font-size: 1.3vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content-rating span {
      font-size: 1.6vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content-rating span {
      font-size: 2.6vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content-rating span {
      font-size: 4vw; } }

.popular__courses-course-card-one-content-rating-div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content-rating-div p {
      font-size: 1.2vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content-rating-div p {
      font-size: 1.4vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content-rating-div p {
      font-size: 2vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content-rating-div p {
      font-size: 3.5vw; } }

.popular__courses-course-card-one-content h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.27vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content h5 {
      font-size: 1.6vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content h5 {
      font-size: 2vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content h5 {
      font-size: 3.2vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-one-content h5 {
      font-size: 4vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content h5 {
      font-size: 5vw; } }

.popular__courses-course-card-one-content > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content > p {
      font-size: 1.2vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content > p {
      font-size: 1.4vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content > p {
      font-size: 2.2vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-one-content > p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content > p {
      font-size: 3.5vw; } }

.popular__courses-course-card-one-content-sale p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content-sale p {
      font-size: 1.3vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content-sale p {
      font-size: 1.4vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content-sale p {
      font-size: 2.2vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-one-content-sale p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content-sale p {
      font-size: 3.5vw; } }

.popular__courses-course-card-one-content-price p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content-price p {
      font-size: 1.3vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content-price p {
      font-size: 1.4vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content-price p {
      font-size: 2.2vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-one-content-price p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content-price p {
      font-size: 3.5vw; } }

.popular__courses-course-card-one-content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .popular__courses-course-card-one-content a {
      font-size: 1.4vw; } }
  @media screen and (max-width: 56.25em) {
    .popular__courses-course-card-one-content a {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course-card-one-content a {
      font-size: 2.2vw; } }
  @media screen and (max-width: 30em) {
    .popular__courses-course-card-one-content a {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .popular__courses-course-card-one-content a {
      font-size: 3.5vw; } }

.quality__education-content h2, .package__section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.1vw; }
  @media screen and (max-width: 75em) {
    .quality__education-content h2, .package__section h2 {
      font-size: 4.5vw; } }
  @media screen and (max-width: 56.25em) {
    .quality__education-content h2, .package__section h2 {
      font-size: 4vw; } }
  @media screen and (max-width: 37.5em) {
    .quality__education-content h2, .package__section h2 {
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .quality__education-content h2, .package__section h2 {
      font-size: 8vw; } }

.quality__education-content p, .package__section p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4vw; }
  @media screen and (max-width: 75em) {
    .quality__education-content p, .package__section p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 56.25em) {
    .quality__education-content p, .package__section p {
      font-size: 2vw; } }
  @media screen and (max-width: 37.5em) {
    .quality__education-content p, .package__section p {
      font-size: 3vw; } }
  @media screen and (max-width: 18.75em) {
    .quality__education-content p, .package__section p {
      font-size: 4vw; } }

.quality__education-content a, .package__section a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .quality__education-content a, .package__section a {
      font-size: 2.5vw; } }
  @media screen and (max-width: 56.25em) {
    .quality__education-content a, .package__section a {
      font-size: 2vw; } }
  @media screen and (max-width: 37.5em) {
    .quality__education-content a, .package__section a {
      font-size: 3vw; } }
  @media screen and (max-width: 18.75em) {
    .quality__education-content a, .package__section a {
      font-size: 4vw; } }

.pricing__section-card-container-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container-type {
      font-size: 2.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container-type {
      font-size: 5vw; } }

.pricing__section-card-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container p {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container p {
      font-size: 1.8vw; } }
  @media screen and (max-width: 30em) {
    .pricing__section-card-container p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container p {
      font-size: 2.8vw; } }

.pricing__section-card-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.7vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container h2 {
      font-size: 4vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container h2 {
      font-size: 6vw; } }
  @media screen and (max-width: 30em) {
    .pricing__section-card-container h2 {
      font-size: 8vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container h2 {
      font-size: 10vw; } }

.pricing__section-card-container h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container h6 {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container h6 {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container h6 {
      font-size: 3vw; } }

.pricing__section-card-container a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container a {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container a {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container a {
      font-size: 3.5vw; } }

.pricing__section-card-container-features p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container-features p {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container-features p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container-features p {
      font-size: 3.5vw; } }
  .pricing__section-card-container-features p i {
    font-size: 1.5vw; }
    @media screen and (max-width: 56.25em) {
      .pricing__section-card-container-features p i {
        font-size: 1.5vw; } }
    @media screen and (max-width: 37.5em) {
      .pricing__section-card-container-features p i {
        font-size: 3.5vw; } }
    @media screen and (max-width: 18.75em) {
      .pricing__section-card-container-features p i {
        font-size: 4.5vw; } }

.pricing__section-card-container-new p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card-container-new p {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .pricing__section-card-container-new p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .pricing__section-card-container-new p {
      font-size: 3.5vw; } }

.testimonial__section-card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3vw; }
  @media screen and (max-width: 75em) {
    .testimonial__section-card p {
      font-size: 1.5vw; } }
  @media screen and (max-width: 56.25em) {
    .testimonial__section-card p {
      font-size: 1.7vw; } }
  @media screen and (max-width: 37.5em) {
    .testimonial__section-card p {
      font-size: 2.1vw; } }
  @media screen and (max-width: 18.75em) {
    .testimonial__section-card p {
      font-size: 2.5vw; } }

.testimonial__section-card h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw; }
  @media screen and (max-width: 56.25em) {
    .testimonial__section-card h5 {
      font-size: 1.7vw; } }
  @media screen and (max-width: 37.5em) {
    .testimonial__section-card h5 {
      font-size: 2vw; } }
  @media screen and (max-width: 18.75em) {
    .testimonial__section-card h5 {
      font-size: 2.5vw; } }

.testimonial__section-card h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 56.25em) {
    .testimonial__section-card h6 {
      font-size: 1.3vw; } }
  @media screen and (max-width: 37.5em) {
    .testimonial__section-card h6 {
      font-size: 1.9vw; } }
  @media screen and (max-width: 18.75em) {
    .testimonial__section-card h6 {
      font-size: 2.4vw; } }

.subscribe__section-content span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .subscribe__section-content span {
      font-size: 1.9vw; } }
  @media screen and (max-width: 37.5em) {
    .subscribe__section-content span {
      font-size: 2.9vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section-content span {
      font-size: 3.9vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section-content span {
      font-size: 4.6vw; } }

.subscribe__section-content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3vw; }
  @media screen and (max-width: 75em) {
    .subscribe__section-content h2 {
      font-size: 4vw; } }
  @media screen and (max-width: 37.5em) {
    .subscribe__section-content h2 {
      font-size: 5vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section-content h2 {
      font-size: 6vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section-content h2 {
      font-size: 7vw; } }

.subscribe__section-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .subscribe__section-content p {
      font-size: 1.9vw; } }
  @media screen and (max-width: 37.5em) {
    .subscribe__section-content p {
      font-size: 2.5vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section-content p {
      font-size: 3.5vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section-content p {
      font-size: 4vw; } }

.subscribe__section input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1vw; }
  @media screen and (max-width: 75em) {
    .subscribe__section input {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .subscribe__section input {
      font-size: 2.5vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section input {
      font-size: 3.5vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section input {
      font-size: 4.5vw; } }

.subscribe__section button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1vw; }
  @media screen and (max-width: 75em) {
    .subscribe__section button {
      font-size: 1.5vw; } }
  @media screen and (max-width: 37.5em) {
    .subscribe__section button {
      font-size: 2.5vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section button {
      font-size: 3.5vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section button {
      font-size: 4.5vw; } }

.footer__section-upper h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw; }
  @media screen and (max-width: 75em) {
    .footer__section-upper h5 {
      font-size: 1.5vw; } }
  @media screen and (max-width: 56.25em) {
    .footer__section-upper h5 {
      font-size: 2.5vw; } }
  @media screen and (max-width: 37.5em) {
    .footer__section-upper h5 {
      font-size: 3vw; } }
  @media screen and (max-width: 18.75em) {
    .footer__section-upper h5 {
      font-size: 4vw; } }

.footer__section-upper a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .footer__section-upper a {
      font-size: 1.4vw; } }
  @media screen and (max-width: 56.25em) {
    .footer__section-upper a {
      font-size: 1.8vw; } }
  @media screen and (max-width: 37.5em) {
    .footer__section-upper a {
      font-size: 2.5vw; } }
  @media screen and (max-width: 18.75em) {
    .footer__section-upper a {
      font-size: 3.5vw; } }

.footer__section-lower p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw; }
  @media screen and (max-width: 75em) {
    .footer__section-lower p {
      font-size: 1.4vw; } }
  @media screen and (max-width: 56.25em) {
    .footer__section-lower p {
      font-size: 1.8vw; } }
  @media screen and (max-width: 37.5em) {
    .footer__section-lower p {
      font-size: 2.5vw; } }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.u-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-text-center {
  text-align: center; }

.u-primary-btn, .u-transparent-btn {
  color: #fff;
  text-decoration: none;
  border-radius: 6px; }

.u-primary-btn {
  background-color: #96bb7c; }

.u-transparent-btn {
  background-color: transparent;
  border: 1px solid #96bb7c;
  color: #96bb7c; }

.u-active {
  color: #96bb7c !important; }

.u-bg-sky-dark {
  background-color: #0072f9; }

.u-color-success {
  color: #2dc071; }

.u-color-muted {
  color: #bdbdbd; }

.u-hidden {
  display: none; }

.navigation {
  display: flex;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 100000; }
  .navigation__logo-part {
    display: flex;
    flex-basis: 60%;
    background-color: #fff; }
    @media screen and (max-width: 37.5em) {
      .navigation__logo-part {
        flex-basis: 90%; } }
  .navigation__color-box {
    background-color: #eff8ed;
    height: 100%;
    width: 10vh;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 37.5em) {
      .navigation__color-box {
        width: 5vh; } }
    @media screen and (max-width: 30em) {
      .navigation__color-box {
        display: none; } }
  .navigation__items {
    display: flex;
    padding: 1rem 5% 0; }
    @media screen and (max-width: 75em) {
      .navigation__items {
        align-items: center;
        padding: 0 5%; } }
    .navigation__items-logo {
      margin-right: 3rem; }
      @media screen and (max-width: 75em) {
        .navigation__items-logo {
          margin-right: 0; } }
    .navigation__items-links {
      margin-top: 0.3rem; }
      @media screen and (max-width: 75em) {
        .navigation__items-links {
          display: none; } }
      .navigation__items-links a {
        text-decoration: none;
        color: #737373;
        display: inline-block;
        margin-right: 1rem;
        transition: all 0.5s; }
        .navigation__items-links a:hover {
          color: #96bb7c; }
  .navigation__buttons {
    flex-basis: 40%;
    background-color: #eff8ed;
    padding-top: 1rem;
    padding: 1rem 5% 0; }
    .navigation__buttons > a:first-child {
      color: #96bb7c;
      text-decoration: none;
      margin-right: 2rem; }
    .navigation__buttons > a:last-of-type {
      display: inline-block;
      padding: 0.9rem 1.5rem; }
    @media screen and (max-width: 75em) {
      .navigation__buttons > a {
        display: none !important; } }
    @media screen and (max-width: 75em) {
      .navigation__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0; } }
  .navigation__mobile {
    transition: all 3s; }
    @media screen and (max-width: 75em) {
      .navigation__mobile {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .navigation__mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #96bb7c;
      height: 0;
      width: 0;
      z-index: 2000;
      opacity: 0; }
      .navigation__mobile-menu-items {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3000;
        transition: all 1s; }
        .navigation__mobile-menu-items-links {
          width: 100%;
          height: 100%;
          text-align: center;
          transition: all 1s; }
          .navigation__mobile-menu-items-links a {
            font-size: 3vw;
            color: #fff;
            display: block;
            z-index: 5000;
            padding: 1rem 3rem;
            text-decoration: none;
            transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1); }
            .navigation__mobile-menu-items-links a:hover {
              background-color: #fff;
              color: #96bb7c; }
  .navigation__checkbox:checked ~ .navigation__icon .navigation__humburger {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__icon .navigation__close {
    color: #fff;
    display: block;
    position: relative;
    z-index: 5000; }
  .navigation__checkbox:checked ~ .navigation__mobile-menu {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transition: all 1s; }

.header__content {
  flex-basis: 60%; }
  @media screen and (max-width: 75em) {
    .header__content {
      flex-basis: 100%;
      margin-top: 5rem; } }
  .header__content-text {
    flex-grow: 1;
    padding-left: 10%; }
    .header__content-text span {
      color: #96bb7c; }
    .header__content-text h1 {
      margin: 2rem 0;
      color: #252b42;
      line-height: 4rem; }
      @media screen and (max-width: 37.5em) {
        .header__content-text h1 {
          margin: 1rem 0;
          line-height: 3rem; } }
    .header__content-text p {
      margin-bottom: 3rem;
      color: #737373;
      line-height: 1.5rem; }
    .header__content-text-btns a:first-child {
      padding: 0.8rem 2.5rem;
      margin-right: 0.5rem; }
      @media screen and (max-width: 18.75em) {
        .header__content-text-btns a:first-child {
          margin-bottom: 1rem;
          margin-right: 0; } }
    .header__content-text-btns a:last-child {
      padding: 0.8rem 2.5rem;
      transition: all 0.7s; }
      .header__content-text-btns a:last-child:hover {
        background-color: #96bb7c;
        color: #fff; }
    @media screen and (max-width: 18.75em) {
      .header__content-text-btns {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .header__content-icon {
    height: 8vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: -2.5rem; }
    .header__content-icon img {
      width: 40%; }
    @media screen and (max-width: 75em) {
      .header__content-icon {
        display: none; } }

.header__image {
  flex-basis: 40%;
  position: relative; }
  @media screen and (max-width: 75em) {
    .header__image {
      flex-basis: 100%;
      margin-top: 5rem; } }
  .header__image-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #eff8ed;
    z-index: -1; }
    .header__image-circle div {
      width: 70%;
      height: 75%;
      background-color: #aaead0;
      border-radius: 50%;
      margin-top: -2rem;
      margin-right: 0.8rem; }
      @media screen and (max-width: 56.25em) {
        .header__image-circle div {
          width: 55vw;
          height: 80%; } }
  .header__image-img {
    height: 100%;
    z-index: 1000; }
    @media screen and (max-width: 56.25em) {
      .header__image-img {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .header__image-img img {
      height: 100%; }
      @media screen and (max-width: 56.25em) {
        .header__image-img img {
          width: 55vw; } }
  .header__image-chart {
    position: absolute;
    top: 3.4rem;
    left: -1rem;
    width: 11vw; }
    @media screen and (max-width: 75em) {
      .header__image-chart {
        width: 20vw; } }
    @media screen and (max-width: 56.25em) {
      .header__image-chart {
        width: 20vw; } }
    @media screen and (max-width: 37.5em) {
      .header__image-chart {
        width: 25vw;
        top: 2rem; } }
    @media screen and (max-width: 18.75em) {
      .header__image-chart {
        display: none; } }
  .header__image-scores {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 16.2vw;
    height: 25vh; }
    @media screen and (max-width: 75em) {
      .header__image-scores {
        width: 20vw;
        height: 15vw;
        bottom: 7rem; } }
    @media screen and (max-width: 56.25em) {
      .header__image-scores {
        width: 30vw;
        height: 20vh;
        left: 19%;
        bottom: 4rem; } }
    @media screen and (max-width: 37.5em) {
      .header__image-scores {
        display: none; } }
  .header__image-statistics {
    position: absolute;
    bottom: 4rem;
    right: 20%;
    width: 14vw;
    height: 28vh; }
    @media screen and (max-width: 75em) {
      .header__image-statistics {
        width: 15vw;
        height: 14vw;
        right: 47%;
        bottom: 9rem; } }
    @media screen and (max-width: 56.25em) {
      .header__image-statistics {
        height: 15vh;
        width: 20vw;
        bottom: 5rem;
        right: 30%; } }
    @media screen and (max-width: 37.5em) {
      .header__image-statistics {
        display: none; } }
    @media screen and (max-width: 18.75em) {
      .header__image-statistics {
        height: 10vh;
        width: 20vw;
        bottom: 2rem;
        right: 30%; } }
  .header__image-bag {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 7vh;
    height: 7vh; }
    @media screen and (max-width: 75em) {
      .header__image-bag {
        width: 5vw;
        height: 5vw; } }
    @media screen and (max-width: 56.25em) {
      .header__image-bag {
        width: 5vh;
        height: 5vh;
        right: 20%; } }
    @media screen and (max-width: 37.5em) {
      .header__image-bag {
        right: 20%; } }
    @media screen and (max-width: 30em) {
      .header__image-bag {
        width: 6vh;
        height: 6vh;
        right: 10%; } }
    @media screen and (max-width: 18.75em) {
      .header__image-bag {
        width: 5vh;
        height: 5vh; } }
  .header__image-gridIcon {
    position: absolute;
    bottom: 1rem;
    left: 44%;
    background-color: #0072f9;
    border-radius: 8px;
    height: 7vh;
    width: 7vh; }
    .header__image-gridIcon img {
      width: 60%; }
    @media screen and (max-width: 75em) {
      .header__image-gridIcon {
        left: 35%;
        bottom: 2rem;
        width: 5vw;
        height: 5vw; } }
    @media screen and (max-width: 56.25em) {
      .header__image-gridIcon {
        left: 52%;
        bottom: 1rem; } }
    @media screen and (max-width: 30em) {
      .header__image-gridIcon {
        height: 5vh;
        width: 5vh;
        bottom: 0.1rem;
        left: 20%; } }

.popular__courses-content, .pricing__section, .testimonial__section {
  margin-bottom: 1.5rem; }
  .popular__courses-content span, .pricing__section span, .testimonial__section span {
    color: #96bb7c; }
  .popular__courses-content h2, .pricing__section h2, .testimonial__section h2 {
    color: #252b42;
    margin: 1rem 0; }
  .popular__courses-content p, .pricing__section p, .testimonial__section p {
    color: #737373; }

.popular__courses-course {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 2rem; }
  @media screen and (max-width: 37.5em) {
    .popular__courses-course {
      justify-content: center; } }
  .popular__courses-course-card {
    width: 218px;
    height: fit-content;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 2rem;
    transition: all 1s; }
    .popular__courses-course-card:hover {
      background-color: #96bb7c;
      color: #fff; }
    .popular__courses-course-card:hover .popular__courses-course-card-hr {
      background-color: #fff; }
    .popular__courses-course-card:hover .popular__courses-course-card-content {
      color: #fff; }
    .popular__courses-course-card-img {
      position: relative; }
      .popular__courses-course-card-img img:last-child {
        width: 10vh;
        height: 10vh;
        position: absolute;
        top: 0.5rem;
        left: 0.3rem; }
        @media screen and (max-width: 75em) {
          .popular__courses-course-card-img img:last-child {
            width: 6vw;
            height: 6vw; } }
        @media screen and (max-width: 56.25em) {
          .popular__courses-course-card-img img:last-child {
            width: 4vh;
            height: 4vh;
            left: 0.4rem; } }
        @media screen and (max-width: 37.5em) {
          .popular__courses-course-card-img img:last-child {
            width: 6vh;
            height: 6vh;
            left: 0.4rem; } }
    .popular__courses-course-card-heading {
      margin: 1.5rem 0; }
    .popular__courses-course-card-hr {
      margin-bottom: 1.5rem;
      border: 0;
      outline: 0;
      height: 0.5vh;
      width: 10vh;
      background-color: #e74040; }
      @media screen and (max-width: 75em) {
        .popular__courses-course-card-hr {
          width: 40%; } }
    .popular__courses-course-card-content {
      color: #737373; }
  .popular__courses-course-card-one {
    width: 218px;
    height: fit-content;
    transition: all 0.5s; }
    .popular__courses-course-card-one:hover {
      box-shadow: 0.2rem 0.2rem 0.1rem rgba(115, 115, 115, 0.3); }
    @media screen and (max-width: 37.5em) {
      .popular__courses-course-card-one {
        margin-bottom: 2rem; } }
    .popular__courses-course-card-one-img {
      width: 100%;
      position: relative; }
      .popular__courses-course-card-one-img img {
        width: 100%; }
      .popular__courses-course-card-one-img-icons {
        position: absolute;
        bottom: 10%;
        left: 20%;
        display: flex; }
        @media screen and (max-width: 75em) {
          .popular__courses-course-card-one-img-icons {
            left: 27%; } }
        @media screen and (max-width: 37.5em) {
          .popular__courses-course-card-one-img-icons {
            left: 25%; } }
        .popular__courses-course-card-one-img-icons div {
          width: 3vw;
          height: 3vw;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media screen and (max-width: 56.25em) {
            .popular__courses-course-card-one-img-icons div {
              width: 4vw;
              height: 4vw; } }
          @media screen and (max-width: 37.5em) {
            .popular__courses-course-card-one-img-icons div {
              width: 6.5vw;
              height: 6.5vw; } }
          @media screen and (max-width: 30em) {
            .popular__courses-course-card-one-img-icons div {
              width: 8vw;
              height: 8vw; } }
          @media screen and (max-width: 18.75em) {
            .popular__courses-course-card-one-img-icons div {
              width: 10vw;
              height: 10vw; } }
          .popular__courses-course-card-one-img-icons div:not(:last-child) {
            margin-right: 0.5rem; }
          .popular__courses-course-card-one-img-icons div img {
            width: 60%; }
    .popular__courses-course-card-one-content {
      padding: 1rem; }
      .popular__courses-course-card-one-content-rating {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .popular__courses-course-card-one-content-rating span {
          color: #96bb7c; }
        .popular__courses-course-card-one-content-rating-div {
          display: flex;
          align-items: center;
          background-color: #2d4059;
          padding: 0.2rem;
          border-radius: 2.1875rem;
          width: 3.5vw; }
          @media screen and (max-width: 75em) {
            .popular__courses-course-card-one-content-rating-div {
              width: 4.5vw; } }
          @media screen and (max-width: 56.25em) {
            .popular__courses-course-card-one-content-rating-div {
              width: 5.5vw; } }
          @media screen and (max-width: 37.5em) {
            .popular__courses-course-card-one-content-rating-div {
              width: 9vw;
              height: 5vw; } }
          @media screen and (max-width: 18.75em) {
            .popular__courses-course-card-one-content-rating-div {
              width: 13vw;
              height: 7vw; } }
          .popular__courses-course-card-one-content-rating-div img {
            width: 1.2vw; }
            @media screen and (max-width: 75em) {
              .popular__courses-course-card-one-content-rating-div img {
                width: 1.4vw; } }
            @media screen and (max-width: 56.25em) {
              .popular__courses-course-card-one-content-rating-div img {
                width: 1.6vw; } }
            @media screen and (max-width: 37.5em) {
              .popular__courses-course-card-one-content-rating-div img {
                width: 3vw; } }
            @media screen and (max-width: 18.75em) {
              .popular__courses-course-card-one-content-rating-div img {
                width: 4vw; } }
          .popular__courses-course-card-one-content-rating-div p {
            color: #fff;
            margin-left: 0.3rem; }
      .popular__courses-course-card-one-content h5 {
        color: #252b42;
        margin: 0.7rem 0; }
      .popular__courses-course-card-one-content > p {
        color: #737373;
        margin-bottom: 0.7rem; }
      .popular__courses-course-card-one-content-sale {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; }
        .popular__courses-course-card-one-content-sale p {
          color: #737373;
          margin-left: 0.5rem; }
      .popular__courses-course-card-one-content-price {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; }
        .popular__courses-course-card-one-content-price P:first-child {
          color: #737373;
          margin-right: 0.5rem; }
        .popular__courses-course-card-one-content-price p:last-child {
          color: #ffab71; }
      .popular__courses-course-card-one-content a {
        padding: 0.7rem 1rem;
        border-radius: 30px;
        display: inline-flex;
        align-items: center; }
        .popular__courses-course-card-one-content a i {
          margin-left: 0.7rem; }

.quality__education-img {
  flex-basis: 50%;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 75em) {
    .quality__education-img {
      flex-basis: 100%;
      width: 100%;
      display: flex;
      justify-content: center; } }
  .quality__education-img-circle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-70%, -50%);
    width: 55vh;
    height: 55vh;
    background-color: #ddf4ff;
    border-radius: 50%;
    z-index: -1; }
    @media screen and (max-width: 75em) {
      .quality__education-img-circle {
        width: 55vw;
        height: 55vw; } }
  .quality__education-img-girl {
    width: 60vh; }
    @media screen and (max-width: 75em) {
      .quality__education-img-girl {
        width: 60vw;
        margin-left: -5rem; } }
  .quality__education-img-wave {
    position: absolute;
    bottom: 35%;
    right: 28%; }
  .quality__education-img-chart {
    position: absolute;
    top: 1rem;
    left: -1.2rem;
    width: 25vh;
    height: 25vh; }
    @media screen and (max-width: 75em) {
      .quality__education-img-chart {
        width: 20vw;
        height: 20vw;
        left: -2rem; } }
  .quality__education-img-statistics {
    position: absolute;
    bottom: -4rem;
    right: 7rem;
    width: 35vh;
    height: 33vh; }
    @media screen and (max-width: 75em) {
      .quality__education-img-statistics {
        width: 20vw;
        height: 20vw; } }
  .quality__education-img-dots {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    border-radius: 8px;
    transform: rotate(-60deg); }
    @media screen and (max-width: 75em) {
      .quality__education-img-dots {
        width: 7vw;
        height: 7vw; } }
    .quality__education-img-dots img {
      width: 50%; }

.quality__education-content, .package__section {
  flex-basis: 45%; }
  @media screen and (max-width: 75em) {
    .quality__education-content, .package__section {
      flex-basis: 100%;
      margin-top: 5rem; } }
  .quality__education-content hr, .package__section hr {
    border: 0;
    outline: 0;
    width: 15vh;
    height: 1vh;
    background-color: #e74040; }
    @media screen and (max-width: 75em) {
      .quality__education-content hr, .package__section hr {
        height: 1.5vw;
        width: 15vw; } }
  .quality__education-content h2, .package__section h2 {
    margin: 2.5rem 0 3rem; }
  .quality__education-content p, .package__section p {
    margin-bottom: 3.5rem;
    color: #737373; }
  .quality__education-content a, .package__section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #96bb7c; }
    .quality__education-content a i, .package__section a i {
      margin-left: 0.5rem; }

.package__section-content {
  padding-right: 2.5rem; }
  @media screen and (max-width: 75em) {
    .package__section-content {
      padding-right: 0; } }

.package__section-img {
  position: relative; }
  @media screen and (max-width: 75em) {
    .package__section-img {
      margin-top: 8rem; } }
  @media screen and (max-width: 37.5em) {
    .package__section-img {
      width: 80%; } }
  .package__section-img-video {
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%); }
  .package__section-img-play {
    background-color: #96bb7c;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
    .package__section-img-play img {
      width: 30%; }

.pricing__section-content {
  margin-bottom: 8rem; }
  .pricing__section-content span {
    color: #96bb7c; }
  .pricing__section-content h2 {
    margin: 1rem 0; }
  .pricing__section-content p {
    color: #737373; }

.pricing__section-card {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 56.25em) {
    .pricing__section-card {
      flex-direction: column;
      align-items: center; } }
  .pricing__section-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 323px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 2rem;
    position: relative; }
    @media screen and (max-width: 56.25em) {
      .pricing__section-card-container {
        margin-bottom: 4rem; } }
    @media screen and (max-width: 37.5em) {
      .pricing__section-card-container {
        width: 100%;
        margin: 4rem; } }
    .pricing__section-card-container-new {
      position: absolute;
      top: -2rem;
      right: -1rem;
      background-color: #e77c40;
      width: 5vw;
      height: 5vw;
      border-radius: 50%; }
      @media screen and (max-width: 56.25em) {
        .pricing__section-card-container-new {
          width: 7vw;
          height: 7vw; } }
      @media screen and (max-width: 37.5em) {
        .pricing__section-card-container-new {
          width: 12vw;
          height: 12vw; } }
      @media screen and (max-width: 18.75em) {
        .pricing__section-card-container-new {
          width: 16vw;
          height: 16vw; } }
      .pricing__section-card-container-new p {
        margin: 0 !important;
        color: #fff; }
    .pricing__section-card-container-icon {
      width: 5vw;
      height: 5vw;
      background-color: #96bb7c;
      border-radius: 50%; }
      @media screen and (max-width: 56.25em) {
        .pricing__section-card-container-icon {
          width: 7vw;
          height: 7vw; } }
      @media screen and (max-width: 37.5em) {
        .pricing__section-card-container-icon {
          width: 12vw;
          height: 12vw; } }
      @media screen and (max-width: 18.75em) {
        .pricing__section-card-container-icon {
          width: 16vw;
          height: 16vw; } }
      .pricing__section-card-container-icon img {
        width: 60%; }
    .pricing__section-card-container h3 {
      color: #252b42;
      margin: 1rem 0; }
    .pricing__section-card-container p {
      text-align: center;
      color: #737373;
      margin-bottom: 1rem; }
    .pricing__section-card-container h2 {
      color: #96bb7c;
      margin-bottom: 0.3rem; }
    .pricing__section-card-container h6 {
      color: #8ec2f2;
      margin-bottom: 2rem; }
    .pricing__section-card-container a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      margin: 2rem 0; }
    .pricing__section-card-container-features {
      margin-top: 1rem; }
      .pricing__section-card-container-features p {
        text-align: start;
        color: #252b42;
        display: flex;
        align-items: center; }
        .pricing__section-card-container-features p i {
          margin-right: 0.3rem; }
  .pricing__section-card > div:nth-child(2) {
    background-color: #2d4059; }
    .pricing__section-card > div:nth-child(2) h3,
    .pricing__section-card > div:nth-child(2) p {
      color: #fff; }

.testimonial__section-message {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.testimonial__section-card {
  flex-basis: 40%;
  text-align: center; }
  .testimonial__section-card-img {
    width: 8vw;
    margin: 0 auto 1.5rem; }
    @media screen and (max-width: 56.25em) {
      .testimonial__section-card-img {
        width: 12vw; } }
    @media screen and (max-width: 37.5em) {
      .testimonial__section-card-img {
        width: 15vw; } }
    @media screen and (max-width: 18.75em) {
      .testimonial__section-card-img {
        width: 18vw; } }
    .testimonial__section-card-img img {
      width: 100%;
      border-radius: 50%; }
  .testimonial__section-card p {
    color: #737373; }
  .testimonial__section-card-rating {
    margin: 0.6rem 0; }
    .testimonial__section-card-rating img {
      width: 1.3vw; }
      @media screen and (max-width: 56.25em) {
        .testimonial__section-card-rating img {
          width: 2.3vw; } }
      @media screen and (max-width: 37.5em) {
        .testimonial__section-card-rating img {
          width: 3.3vw; } }
      @media screen and (max-width: 18.75em) {
        .testimonial__section-card-rating img {
          width: 4vw; } }
  .testimonial__section-card h5 {
    color: #252b42; }
  .testimonial__section-card h6 {
    color: #737373;
    margin: 0.5rem 0; }

.subscribe__section-content span {
  color: #96bb7c; }

.subscribe__section-content h2 {
  color: #252b42;
  margin: 1rem 0; }

.subscribe__section-content p {
  color: #737373; }

.subscribe__section-input {
  width: 45vw;
  display: flex;
  margin-top: 5rem; }
  @media screen and (max-width: 37.5em) {
    .subscribe__section-input {
      width: 60vw; } }
  @media screen and (max-width: 30em) {
    .subscribe__section-input {
      width: 70vw; } }
  @media screen and (max-width: 18.75em) {
    .subscribe__section-input {
      width: 100vw;
      flex-direction: column;
      align-items: center; } }
  .subscribe__section-input input {
    border: 0;
    outline: 0;
    border: 1px solid #737373;
    flex-grow: 1;
    padding: 1rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f9f9f9; }
    @media screen and (max-width: 18.75em) {
      .subscribe__section-input input {
        border-radius: 8px;
        padding: 0.8rem; } }
  .subscribe__section-input button {
    border: 0;
    outline: 0;
    padding: 0 1rem;
    background-color: #96bb7c;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #96bb7c; }
    @media screen and (max-width: 18.75em) {
      .subscribe__section-input button {
        width: fit-content;
        flex-direction: column;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 8px; } }

.footer__section-upper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 10%;
  height: fit-content; }
  @media screen and (max-width: 75em) {
    .footer__section-upper div {
      margin-right: 0.5rem;
      margin-top: 1rem; } }
  .footer__section-upper h5 {
    color: #252b42;
    margin-bottom: 1rem; }
  .footer__section-upper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #737373;
    margin-bottom: 1rem; }
    .footer__section-upper a img {
      margin-right: 0.5rem;
      width: 1.5vw; }
      @media screen and (max-width: 56.25em) {
        .footer__section-upper a img {
          width: 2.5vw; } }
      @media screen and (max-width: 37.5em) {
        .footer__section-upper a img {
          width: 3.5vw; } }

.footer__section-lower {
  background-color: rgba(115, 115, 115, 0.1);
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content; }
  @media screen and (max-width: 37.5em) {
    .footer__section-lower {
      flex-direction: column; } }
  .footer__section-lower p {
    color: #737373; }
    @media screen and (max-width: 37.5em) {
      .footer__section-lower p {
        margin-bottom: 1rem; } }
  .footer__section-lower-social-media img {
    width: 1.5vw;
    margin-right: 0.5rem; }
    @media screen and (max-width: 75em) {
      .footer__section-lower-social-media img {
        width: 2.5vw; } }
    @media screen and (max-width: 56.25em) {
      .footer__section-lower-social-media img {
        width: 2.9vw; } }
    @media screen and (max-width: 37.5em) {
      .footer__section-lower-social-media img {
        width: 4.9vw; } }

header {
  display: flex;
  height: calc(100vh - 15vh); }
  @media screen and (max-width: 75em) {
    header {
      flex-direction: column;
      height: fit-content; } }

.popular__courses {
  padding: 8rem 10%; }

.quality__education, .package__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10%;
  overflow: hidden; }
  @media screen and (max-width: 75em) {
    .quality__education, .package__section {
      flex-direction: column;
      padding: 5rem 10%; } }

.pricing__section, .testimonial__section {
  padding: 8rem 10%; }

.subscribe__section {
  background-color: #fff2f3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 0; }
