$color-primary: #96bb7c;
$color-primary-light: #eff8ed;
$color-secondary: #737373;
$color-tertiary: #252b42;
$color-faded-danger: #fff2f3;
$color-play: #96bb7c;
$color-rating: #2d4059;

$color-danger: #e74040;
$color-alert: #e77c40;
$color-muted: #bdbdbd;
$color-success: #2dc071;
$color-sky: #8ec2f2;
$color-sky-dark: #0072f9;
$color-secondary2: #bdbdbd;

$color-circle: #aaead0;
$color-circle2: #ddf4ff;
$color-price: #ffab71;
$color-price-sky: #8ec2f2;
$color-dark: #2d4059;
$color-input-border: #e6e6e6;
$color-input-bg: #f9f9f9;

$color-white: #fff;
$color-black: #000;

// font

$default-font: "Montserrat", sans-serif;
