.navigation {
  &__items {
    &-logo {
      font-family: $default-font;
      font-weight: 700;
      font-size: 2.5vw;

      @include responsive(tab-land) {
        font-size: 4vw;
      }
      @include responsive(mobile) {
        font-size: 6vw;
      }
      @include responsive(mobile-medium) {
        font-size: 7vw;
      }
      @include responsive(mobile-small) {
        font-size: 8vw;
      }
    }

    &-links {
      font-family: $default-font;
      font-weight: 700;
      font-size: 1vw;
    }
  }

  &__buttons {
    a {
      font-family: $default-font;
      font-weight: 700;
    }
    a:first-child,
    a:last-of-type {
      font-size: 1vw;

      @include responsive(tab-port) {
        font-size: 1.5vw;
      }
    }
  }

  &__mobile {
    font-family: $default-font;
    font-weight: 700;
    font-size: 3vw;

    @include responsive(mobile) {
      font-size: 5vw;
    }
    @include responsive(mobile-medium) {
      font-size: 6vw;
    }
    @include responsive(mobile-small) {
      font-size: 7vw;
    }

    &-menu {
      &-items {
        &-links {
          a {
            font-size: 2vw !important;
            @include responsive(mobile) {
              font-size: 3vw !important;
            }
            @include responsive(mobile-medium) {
              font-size: 5vw !important;
            }
            @include responsive(mobile-small) {
              font-size: 6vw !important;
            }
          }
        }
      }
    }
  }
}

.header {
  &__content {
    &-text {
      span {
        @include text-style(700, 1vw);

        @include responsive(tab-land) {
          font-size: 1.5vw;
        }

        @include responsive(mobile) {
          font-size: 2.5vw;
        }
        @include responsive(mobile-small) {
          font-size: 4.5vw;
        }
      }

      h1 {
        @include text-style(700, 4vw);

        @include responsive(tab-port) {
          font-size: 5vw;
        }
        @include responsive(mobile) {
          font-size: 8vw;
        }
        @include responsive(mobile-small) {
          font-size: 10vw;
        }
      }

      p {
        @include text-style(400, 1.2vw);

        @include responsive(tab-land) {
          font-size: 1.8vw;
        }
        @include responsive(mobile) {
          font-size: 2.8vw;
        }
        @include responsive(mobile-small) {
          font-size: 3.8vw;
        }
      }

      &-btns {
        a {
          @include text-style(700, 1vw);

          @include responsive(tab-land) {
            font-size: 1.5vw;
          }
          @include responsive(mobile) {
            font-size: 3vw;
          }
          @include responsive(mobile-small) {
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}

.popular__courses {
  // content
  &-content {
    span {
      @include text-style(700, 1vw);

      //   media query

      @include responsive(tab-land) {
        @include text-style(700, 1.7vw);
      }

      @include responsive(tab-port) {
        @include text-style(700, 1.9vw);
      }

      @include responsive(mobile) {
        @include text-style(700, 2.3vw);
      }

      @include responsive(mobile-medium) {
        @include text-style(700, 3.3vw);
      }

      @include responsive(mobile-small) {
        @include text-style(700, 3.5vw);
      }
    }

    h2 {
      @include text-style(700, 2.5vw);

      //   media query

      @include responsive(tab-land) {
        @include text-style(700, 3.5vw);
      }

      @include responsive(tab-port) {
        @include text-style(700, 3.9vw);
      }

      @include responsive(mobile) {
        @include text-style(700, 4.5vw);
      }

      @include responsive(mobile-medium) {
        @include text-style(700, 6vw);
      }

      @include responsive(mobile-small) {
        @include text-style(700, 7vw);
      }
    }

    p {
      @include text-style(400, 1.2vw);

      //   media query

      @include responsive(tab-land) {
        @include text-style(700, 1.4vw);
      }

      @include responsive(tab-port) {
        @include text-style(700, 1.7vw);
      }

      @include responsive(mobile) {
        @include text-style(700, 2.3vw);
      }

      @include responsive(mobile-medium) {
        @include text-style(700, 2.8vw);
      }

      @include responsive(mobile-small) {
        @include text-style(700, 3.1vw);
      }
    }
  }

  //   card
  &-course {
    &-card {
      &-heading {
        @include text-style(700, 1.2vw);

        //   media query

        @include responsive(tab-land) {
          @include text-style(700, 1.7vw);
        }

        @include responsive(tab-port) {
          @include text-style(700, 2vw);
        }

        @include responsive(mobile) {
          @include text-style(700, 3vw);
        }

        @include responsive(mobile-medium) {
          @include text-style(700, 4.5vw);
        }
        @include responsive(mobile-small) {
          @include text-style(700, 6vw);
        }
      }

      &-content {
        @include text-style(400, 1vw);

        //   media query

        @include responsive(tab-land) {
          @include text-style(700, 1.3vw);
        }

        @include responsive(tab-port) {
          @include text-style(700, 1.5vw);
        }

        @include responsive(mobile) {
          @include text-style(700, 2.3vw);
        }

        @include responsive(mobile-medium) {
          @include text-style(700, 3.3vw);
        }

        @include responsive(mobile-small) {
          @include text-style(700, 4.3vw);
        }
      }

      &-one {
        &-content {
          &-rating {
            span {
              @include text-style(700, 1vw);

              // media query
              @include responsive(tab-land) {
                font-size: 1.3vw;
              }

              @include responsive(tab-port) {
                font-size: 1.6vw;
              }

              @include responsive(mobile) {
                font-size: 2.6vw;
              }

              @include responsive(mobile-small) {
                font-size: 4vw;
              }
            }

            &-div {
              p {
                @include text-style(400, 0.9vw);

                // media query
                @include responsive(tab-land) {
                  font-size: 1.2vw;
                }

                @include responsive(tab-port) {
                  font-size: 1.4vw;
                }

                @include responsive(mobile) {
                  font-size: 2vw;
                }

                @include responsive(mobile-small) {
                  font-size: 3.5vw;
                }
              }
            }
          }

          h5 {
            @include text-style(700, 1.27vw);

            // media query

            @include responsive(tab-land) {
              font-size: 1.6vw;
            }

            @include responsive(tab-port) {
              font-size: 2vw;
            }

            @include responsive(mobile) {
              font-size: 3.2vw;
            }
            @include responsive(mobile-medium) {
              font-size: 4vw;
            }

            @include responsive(mobile-small) {
              font-size: 5vw;
            }
          }

          & > p {
            @include text-style(700, 1vw);

            // media query
            @include responsive(tab-land) {
              font-size: 1.2vw;
            }

            @include responsive(tab-port) {
              font-size: 1.4vw;
            }

            @include responsive(mobile) {
              font-size: 2.2vw;
            }
            @include responsive(mobile-medium) {
              font-size: 2.5vw;
            }

            @include responsive(mobile-small) {
              font-size: 3.5vw;
            }
          }

          &-sale {
            p {
              @include text-style(700, 1.1vw);

              // media query

              @include responsive(tab-land) {
                font-size: 1.3vw;
              }

              @include responsive(tab-port) {
                font-size: 1.4vw;
              }

              @include responsive(mobile) {
                font-size: 2.2vw;
              }
              @include responsive(mobile-medium) {
                font-size: 2.5vw;
              }

              @include responsive(mobile-small) {
                font-size: 3.5vw;
              }
            }
          }

          &-price {
            p {
              @include text-style(700, 1.1vw);

              // media query
              @include responsive(tab-land) {
                font-size: 1.3vw;
              }

              @include responsive(tab-port) {
                font-size: 1.4vw;
              }

              @include responsive(mobile) {
                font-size: 2.2vw;
              }

              @include responsive(mobile-medium) {
                font-size: 2.5vw;
              }

              @include responsive(mobile-small) {
                font-size: 3.5vw;
              }
            }
          }

          a {
            @include text-style(700, 1.2vw);

            // media query
            @include responsive(tab-land) {
              font-size: 1.4vw;
            }

            @include responsive(tab-port) {
              font-size: 1.5vw;
            }

            @include responsive(mobile) {
              font-size: 2.2vw;
            }

            @include responsive(mobile-medium) {
              font-size: 2.5vw;
            }

            @include responsive(mobile-small) {
              font-size: 3.5vw;
            }
          }
        }
      }
    }
  }
}

.quality__education {
  &-content {
    h2 {
      @include text-style(700, 3.1vw);

      @include responsive(tab-land) {
        font-size: 4.5vw;
      }
      @include responsive(tab-port) {
        font-size: 4vw;
      }
      @include responsive(mobile) {
        font-size: 6vw;
      }
      @include responsive(mobile-small) {
        font-size: 8vw;
      }
    }

    p {
      @include text-style(400, 1.4vw);

      @include responsive(tab-land) {
        font-size: 2.5vw;
      }
      @include responsive(tab-port) {
        font-size: 2vw;
      }
      @include responsive(mobile) {
        font-size: 3vw;
      }
      @include responsive(mobile-small) {
        font-size: 4vw;
      }
    }

    a {
      @include text-style(700, 1.2vw);

      @include responsive(tab-land) {
        font-size: 2.5vw;
      }
      @include responsive(tab-port) {
        font-size: 2vw;
      }
      @include responsive(mobile) {
        font-size: 3vw;
      }
      @include responsive(mobile-small) {
        font-size: 4vw;
      }
    }
  }
}

.package__section {
  @extend .quality__education-content;
}

.pricing__section {
  @extend .popular__courses-content;

  &-card {
    &-container {
      &-type {
        @include text-style(700, 1.5vw);

        // media query

        @include responsive(tab-port) {
          font-size: 2.5vw;
        }
        @include responsive(mobile) {
          font-size: 5vw;
        }
      }

      p {
        @include text-style(700, 1vw);

        // media query

        @include responsive(tab-port) {
          font-size: 1.5vw;
        }
        @include responsive(mobile) {
          font-size: 1.8vw;
        }
        @include responsive(mobile-medium) {
          font-size: 2.5vw;
        }
        @include responsive(mobile-small) {
          font-size: 2.8vw;
        }
      }

      h2 {
        @include text-style(700, 2.7vw);

        // media query

        @include responsive(tab-port) {
          font-size: 4vw;
        }
        @include responsive(mobile) {
          font-size: 6vw;
        }
        @include responsive(mobile-medium) {
          font-size: 8vw;
        }
        @include responsive(mobile-small) {
          font-size: 10vw;
        }
      }

      h6 {
        @include text-style(700, 0.9vw);

        // media query

        @include responsive(tab-port) {
          font-size: 1.5vw;
        }
        @include responsive(mobile) {
          font-size: 2.5vw;
        }

        @include responsive(mobile-small) {
          font-size: 3vw;
        }
      }
      a {
        @include text-style(700, 1.1vw);

        // media query

        @include responsive(tab-port) {
          font-size: 1.5vw;
        }
        @include responsive(mobile) {
          font-size: 2.5vw;
        }

        @include responsive(mobile-small) {
          font-size: 3.5vw;
        }
      }

      &-features {
        p {
          @include text-style(700, 1.1vw);

          // media query

          @include responsive(tab-port) {
            font-size: 1.5vw;
          }
          @include responsive(mobile) {
            font-size: 2.5vw;
          }

          @include responsive(mobile-small) {
            font-size: 3.5vw;
          }

          i {
            font-size: 1.5vw;

            // media query

            @include responsive(tab-port) {
              font-size: 1.5vw;
            }
            @include responsive(mobile) {
              font-size: 3.5vw;
            }

            @include responsive(mobile-small) {
              font-size: 4.5vw;
            }
          }
        }
      }

      &-new {
        p {
          @include text-style(700, 1.2vw);

          // media query
          @include responsive(tab-port) {
            font-size: 1.5vw;
          }

          @include responsive(mobile) {
            font-size: 2.5vw;
          }
          @include responsive(mobile-small) {
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}

.testimonial__section {
  &-card {
    p {
      @include text-style(400, 1.3vw);

      // media query
      @include responsive(tab-land) {
        font-size: 1.5vw;
      }
      @include responsive(tab-port) {
        font-size: 1.7vw;
      }
      @include responsive(mobile) {
        font-size: 2.1vw;
      }
      @include responsive(mobile-small) {
        font-size: 2.5vw;
      }
    }

    h5 {
      @include text-style(700, 1.3vw);

      // media query
      @include responsive(tab-port) {
        font-size: 1.7vw;
      }

      @include responsive(mobile) {
        font-size: 2vw;
      }

      @include responsive(mobile-small) {
        font-size: 2.5vw;
      }
    }

    h6 {
      @include text-style(700, 1vw);

      // media query
      @include responsive(tab-port) {
        font-size: 1.3vw;
      }
      @include responsive(mobile) {
        font-size: 1.9vw;
      }
      @include responsive(mobile-small) {
        font-size: 2.4vw;
      }
    }
  }
}
