header {
  display: flex;
  height: calc(100vh - 15vh);

  @include responsive(tab-land) {
    flex-direction: column;
    height: fit-content;
  }
}

.popular__courses {
  padding: 8rem 10%;
}

.quality__education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10%;
  overflow: hidden;

  // media query

  @include responsive(tab-land) {
    flex-direction: column;
    padding: 5rem 10%;
  }
}

.package__section {
  @extend .quality__education;
}
