header {
  display: flex;
  height: calc(100vh - 15vh);

  @include responsive(tab-land) {
    flex-direction: column;
    height: fit-content;
  }
}

.popular__courses {
  padding: 8rem 10%;
}

.quality__education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10%;
  overflow: hidden;

  // media query

  @include responsive(tab-land) {
    flex-direction: column;
    padding: 5rem 10%;
  }
}

.package__section {
  @extend .quality__education;
}

.pricing__section {
  padding: 8rem 10%;
}

.testimonial__section {
  @extend .pricing__section;
}

.subscribe__section {
  background-color: $color-faded-danger;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 0;
}
