.footer__section {
  &-upper {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 10%;
    height: fit-content;

    div {
      // media query
      @include responsive(tab-land) {
        margin-right: 0.5rem;
        margin-top: 1rem;
      }
    }

    h5 {
      color: $color-tertiary;
      margin-bottom: 1rem;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-secondary;
      margin-bottom: 1rem;

      img {
        margin-right: 0.5rem;
        width: 1.5vw;

        // media query
        @include responsive(tab-port) {
          width: 2.5vw;
        }
        @include responsive(mobile) {
          width: 3.5vw;
        }
      }
    }
  }

  &-lower {
    background-color: rgba($color-secondary, 0.1);
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

    // media query
    @include responsive(mobile) {
      flex-direction: column;
    }

    p {
      color: $color-secondary;

      // media query
      @include responsive(mobile) {
        margin-bottom: 1rem;
      }
    }

    &-social-media {
      img {
        width: 1.5vw;
        margin-right: 0.5rem;

        // media query
        @include responsive(tab-land) {
          width: 1.9vw;
        }
        @include responsive(tab-port) {
          width: 2.9vw;
        }
        @include responsive(mobile) {
          width: 4.9vw;
        }
      }
    }
  }
}
