.popular__courses {
  // content
  &-content {
    margin-bottom: 1.5rem;

    span {
      color: $color-primary;
    }

    h2 {
      color: $color-tertiary;
      margin: 1rem 0;
    }

    p {
      color: $color-secondary;
    }
  }

  &-course {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    margin-top: 8rem;
    gap: 2rem;

    @include responsive(mobile) {
      justify-content: center;
    }

    &-card {
      width: 218px;
      height: fit-content;
      box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
      padding: 2rem;

      &-img {
        position: relative;

        img:last-child {
          width: 10vh;
          height: 10vh;
          @include set-position {
            top: 0.5rem;
            left: 0.3rem;
          }

          //   media query

          @include responsive(tab-land) {
            width: 6vw;
            height: 6vw;
          }

          @include responsive(tab-port) {
            width: 4vh;
            height: 4vh;
            left: 0.4rem;
          }
          @include responsive(mobile) {
            width: 6vh;
            height: 6vh;
            left: 0.4rem;
          }
        }
      }

      &-heading {
        margin: 1.5rem 0;
      }

      &-hr {
        margin-bottom: 1.5rem;
        border: 0;
        outline: 0;
        height: 0.5vh;
        width: 10vh;
        background-color: $color-danger;

        @include responsive(tab-land) {
          width: 40%;
        }
      }

      &-content {
        color: $color-secondary;
      }
    }

    &-card-one {
      width: 218px;
      height: fit-content;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0.2rem 0.2rem 0.1rem rgba($color-secondary, 0.3);
      }

      // media query

      @include responsive(mobile) {
        margin-bottom: 2rem;
      }

      &-img {
        width: 100%;

        position: relative;

        img {
          width: 100%;
        }

        &-icons {
          @include set-position {
            bottom: 10%;
            left: 20%;
          }

          display: flex;

          // media query
          @include responsive(tab-land) {
            left: 27%;
          }

          @include responsive(mobile) {
            left: 25%;
          }

          div {
            width: 3vw;
            height: 3vw;
            background-color: $color-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            // media query
            @include responsive(tab-port) {
              width: 4vw;
              height: 4vw;
            }

            @include responsive(mobile) {
              width: 6.5vw;
              height: 6.5vw;
            }
            @include responsive(mobile-medium) {
              width: 8vw;
              height: 8vw;
            }

            @include responsive(mobile-small) {
              width: 10vw;
              height: 10vw;
            }

            &:not(:last-child) {
              margin-right: 0.5rem;
            }
            img {
              width: 60%;
            }
          }
        }
      }

      &-content {
        padding: 1rem;

        &-rating {
          @include flex {
            justify-content: space-between;
            align-items: center;
          }

          span {
            color: $color-primary;
          }

          &-div {
            display: flex;
            align-items: center;
            background-color: $color-rating;
            padding: 0.2rem;
            border-radius: 2.1875rem;
            width: 3.5vw;

            // media query
            @include responsive(tab-land) {
              width: 4.5vw;
            }

            @include responsive(tab-port) {
              width: 5.5vw;
            }

            @include responsive(mobile) {
              width: 9vw;
              height: 5vw;
            }

            @include responsive(mobile-small) {
              width: 13vw;
              height: 7vw;
            }

            img {
              width: 1.2vw;

              // media query
              @include responsive(tab-land) {
                width: 1.4vw;
              }

              @include responsive(tab-port) {
                width: 1.6vw;
              }

              @include responsive(mobile) {
                width: 3vw;
              }

              @include responsive(mobile-small) {
                width: 4vw;
              }
            }

            p {
              color: $color-white;
              margin-left: 0.3rem;
            }
          }
        }

        h5 {
          color: $color-tertiary;
          margin: 0.7rem 0;
        }

        & > p {
          color: $color-secondary;
          margin-bottom: 0.7rem;
        }

        &-sale {
          @include flex {
            align-items: center;
          }
          margin-bottom: 1rem;

          p {
            color: $color-secondary;
            margin-left: 0.5rem;
          }
        }

        &-price {
          @include flex {
            align-items: center;
          }

          margin-bottom: 1rem;

          P:first-child {
            color: $color-secondary;
            margin-right: 0.5rem;
          }

          p:last-child {
            color: $color-price;
          }
        }

        a {
          padding: 0.7rem 1rem;
          border-radius: 30px;
          display: inline-flex;
          align-items: center;

          i {
            margin-left: 0.7rem;
          }
        }
      }
    }
  }
}
