.testimonial__section {
  &-message {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-card {
    flex-basis: 40%;
    text-align: center;

    &-img {
      width: 8vw;
      margin: 0 auto 1.5rem;

      //   media query
      @include responsive(tab-port) {
        width: 12vw;
      }
      @include responsive(mobile) {
        width: 15vw;
      }
      @include responsive(mobile-small) {
        width: 18vw;
      }

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    p {
      color: $color-secondary;
    }

    &-rating {
      margin: 0.6rem 0;

      img {
        width: 1.3vw;

        //   media query
        @include responsive(tab-port) {
          width: 2.3vw;
        }
        @include responsive(mobile) {
          width: 3.3vw;
        }
        @include responsive(mobile-small) {
          width: 4vw;
        }
      }
    }

    h5 {
      color: $color-tertiary;
    }

    h6 {
      color: $color-secondary;
      margin: 0.5rem 0;
    }
  }
}
